.navbar-bg {
    background-color: #eefbf3;
}

.logo-img {
    height: 40px;
}

.brand-name {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.6);
}

.navigation-item {
    display: inline-block;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    transition: all 0.2s linear;
}

.navigation-item:hover {
    color: #198754;
}

.theme-btn {
    border: none;
    font-size: 22px;
    font-weight: 600;
    background-color: initial;
}

.account-img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}