.form-container {
    width: 33%;
    border-radius: 8px;
}

.login-title {
    background-color: #eefbf3;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}

.or-line {
    position: relative;
}

.or-line::after {
    content: '';
    width: 400%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 11.5px;
    left: 28px;
}

.or-line::before {
    content: '';
    width: 400%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 11.5px;
    left: -94px;
}

.social-login-btn {
    border: none;
    font-size: 22px;
    border-radius: 2px;
}

.register-redirect {
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .form-container {
        width: 100%;
        margin-bottom: 30px;
    }
}